<!DOCTYPE html>
<html>
  <head>
    <title>سامانه لانج</title>
    <module href="/components/head.html"></module>
  </head>

  <body class="d-flex flex-column m-0 p-0">
    <div class="preloader d-none" id="preloader">
      <div class="preloader-inner">
        <div class="spinner"></div>
      </div>
    </div>

    <module href="/components/svgIcons.html"></module>
    <!-- start navbar -->
    <module href="/components/navbar.html"></module>
    <!-- end navbar -->

    <!-- start hero -->
    <module href="/components/hero.html"></module>
    <!-- end hero -->

    <module href="/main/home.html"></module>
    <!-- <module href="/main/add-recipe.html"></module>         -->

    <!-- start footer -->
    <module href="/components/footer.html"></module>
    <!-- end footer -->

    <!-- start modal -->
    <module href="/components/modal.html"></module>
    <!-- end modal -->

    <!-- start scripts -->
    <module href="/components/scripts.html"></module>
    <!-- end scripts -->
  </body>
</html>
