<svg class="d-none">
<symbol id="chevron-left"
xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58" fill="none">
<g filter="url(#filter0_d_60_770)">
  <rect x="4" y="2" width="50" height="50" rx="25" fill="white"/>
  <path d="M32 34.92L25.48 28.4C24.71 27.63 24.71 26.37 25.48 25.6L32 19.08" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
  <filter id="filter0_d_60_770" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="2"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.075 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_60_770"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_60_770" result="shape"/>
  </filter>
  </defs>
</symbol>
<symbol id="user-Condition-angry" 
xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <path d="M6.75 16.5H11.25C15 16.5 16.5 15 16.5 11.25V6.75C16.5 3 15 1.5 11.25 1.5H6.75C3 1.5 1.5 3 1.5 6.75V11.25C1.5 15 3 16.5 6.75 16.5Z" stroke="#3D8BFD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M5.25 6.5625C6 5.8125 7.2225 5.8125 7.98 6.5625" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M10.02 6.5625C10.77 5.8125 11.9925 5.8125 12.75 6.5625" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.3 13.275H11.7C12.075 13.275 12.375 12.975 12.375 12.6C12.375 10.7325 10.8675 9.22501 9 9.22501C7.1325 9.22501 5.625 10.7325 5.625 12.6C5.625 12.975 5.925 13.275 6.3 13.275Z" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</symbol>
<symbol id="user-Condition-midel" 
xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <path d="M6.75 16.5H11.25C15 16.5 16.5 15 16.5 11.25V6.75C16.5 3 15 1.5 11.25 1.5H6.75C3 1.5 1.5 3 1.5 6.75V11.25C1.5 15 3 16.5 6.75 16.5Z" stroke="#3D8BFD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M5.25 6.1875C6 6.9375 7.2225 6.9375 7.98 6.1875" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M10.02 6.1875C10.77 6.9375 11.9925 6.9375 12.75 6.1875" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.3 9.75H11.7C12.075 9.75 12.375 10.05 12.375 10.425C12.375 12.2925 10.8675 13.8 9 13.8C7.1325 13.8 5.625 12.2925 5.625 10.425C5.625 10.05 5.925 9.75 6.3 9.75Z" stroke="#3D8BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</symbol>
<symbol id="user-Condition-happy"
xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <path d="M6.75 16.5H11.25C15 16.5 16.5 15 16.5 11.25V6.75C16.5 3 15 1.5 11.25 1.5H6.75C3 1.5 1.5 3 1.5 6.75V11.25C1.5 15 3 16.5 6.75 16.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M11.625 7.3125C12.2463 7.3125 12.75 6.80882 12.75 6.1875C12.75 5.56618 12.2463 5.0625 11.625 5.0625C11.0037 5.0625 10.5 5.56618 10.5 6.1875C10.5 6.80882 11.0037 7.3125 11.625 7.3125Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.375 7.3125C6.99632 7.3125 7.5 6.80882 7.5 6.1875C7.5 5.56618 6.99632 5.0625 6.375 5.0625C5.75368 5.0625 5.25 5.56618 5.25 6.1875C5.25 6.80882 5.75368 7.3125 6.375 7.3125Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.3 9.97501H11.7C12.075 9.97501 12.375 10.275 12.375 10.65C12.375 12.5175 10.8675 14.025 9 14.025C7.1325 14.025 5.625 12.5175 5.625 10.65C5.625 10.275 5.925 9.97501 6.3 9.97501Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</symbol>




</svg>
<main class="d-flex justify-content-center align-content-center overflow-hidden" dir="rtl" style="width: 100%; height: 90% ">
  <div class="home h-100 d-flex flex-row">
      <div
        class="h-100  d-flex flex-column align-items-center mt-4 flex-shrink-0 " style="width: 380px;"
      >
        <div class="slidup border-0 my-3 rounded-4 bg-white  shadow-sm " style="width:90%;height: 180px;">
          <div
            class="titlecal w-100 p-3 d-flex flex-row align-items-center justify-content-between border-bottom"
            
          >
            <div class="fw-bold" >برنامه امروز</div>
            <div class="text-muted" style="font-size: 10px;" style="font-family: sans-serif;" id="today"  >1403/03/13</div>
          </div>
          <div class="w-100 h-25 d-flex flex-row mt-2 px-2 justify-content-between align-items-center">
            <div class="lineRightup w-75 h-100 px-2 d-flex flex-column justify-content-center align-content-center">
              <div class="fw-bold fs-6">نهار رستوران اطلس</div>
              <div class="text-muted fs-7">چلوخورشت قیمه بادمجان</div>
            </div>
            <button type="button" class="buttomstyle rounded border-0 ms-1">وعده رژیمی</div>
              <div
              class="w-100 h-25 px-2 mt-3 mx-2 d-flex flex-column justify-content-center align-content-center lineRightdown"
            >
              <div class="fw-bold fs-6">کافی شاپ</div>
              <div class="text-muted fs-7">اسپرسو دوبل</div>
            </div>
          </div>
          <div class="calender bg-white shadow-sm border-0 rounded-4  flex-shrink-0  border">
        
  <div class="month d-flex  align-items-center border-bottom  align-items-center">  
    <div class="fw-bold d-flex align-items-center px-3 fs-6 h-100">تقویم رزرو</div>    
    
  </div>
  <div class="d-flex flex-row justify-content-between w-100 px-4 py-2 nowdate">
    <div>

      <li style="font-size:12px">
        خرداد
        <span >1403</span>
      </li>

    </div>
<div class="d-flex gap-3">

  <li class="prev">&#10094;</li>
  <li class="next">&#10095;</li>

</div>


  </div>
  <ul class="weekdays d-flex justify-content-center align-items-center text-muted">
    <li>شنبه</li>
    <li>یکشنبه</li>
    <li>دوشنبه</li>
    <li>شه شنبه</li>
    <li>چهارشنبه</li>

  </ul>
  
  <ul class="days">  
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active rounded-circle">10</span></li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>

  </ul>
  <div class="text-muted mt-3 me-3" style="font-size: 12px;">چهارشنبه 16 خرداد 1402</div>
  <div class="d-flex flex-column gap-1">
    <div class="mt-3 me-3 fs-7">
      رستوران اطلس
    </div>
    <div class="d-flex me-3 justify-content-between">
      <span class="fw-bold fs-7">چلوخورشت قیمه بادمجان</span>
      <span class="text-muted fs-7 ms-3">رژیمی</span>
    </div>
  </div>
  <div>
    <div class="mt-3 me-3 fs-7">
      کافی شاپ
    </div>
    <div class="d-flex me-3 justify-content-between">
      <span class="fw-bold fs-7">اسپرسو دوبل</span>
    </div>
    
  </div>
          </div>
        </div>

      <div class="sectionLeft d-flex flex-column justify-content-start align-items-start overflow-hidden">

<div class="cards mt-2 w-100">
          <!-- section  -->
            <div class="foodcards mt-4 rounded-3 d-flex flex-column flex-shrink-0">
              <div class="chevron-select-left" >
                <svg id="btn-right"  width="58" height="58" viewBox="0 0 58 58">
                  <use href="#chevron-left"></use>
                </svg>
              </div>
              <div class="chevron-select-right" >
                <svg id="btn-left"  width="58" height="58" viewBox="0 0 58 58">
                  <use href="#chevron-left"></use>
                </svg>
              </div>
  <div class="me-3 d-flex gap-2"> <p class="fw-bold fs-6 m-0">امروز</p> 
     <p class="d-flex justify-content-center align-items-center text-muted m-0" style="font-size:11px; font-family:sans-serif;" id="today2">1403/03/06</p>
  </div>
  <div class="foodcard  d-flex gap-4 mt-2 justify-content-start align-items-start" id="con">
    <!-- food1 -->
    <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0"  >
      <div class="imagefood">
        <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476435976/Rectangle_1.png" alt="food1">
      </div>
      <div class="textCard d-flex  flex-column justify-content-between">
        <div class="w-100 fw-bold fs-6 tittle-food">چلو کباب سلطانی </div>
        <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
          <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
            <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
            <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
          </div>
          <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
        </div>

      </div>
    </div>
    <!-- food2 -->
    <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
      <div class="imagefood">
        <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436434/food2.png" alt="food1">
      </div>
      <div class="textCard d-flex flex-column justify-content-between">
        <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قیمه بادمجان</div>
        <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
          <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
            <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
            <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
          </div>
          <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
        </div>

      </div>
    </div>
    <!-- food3 -->
    <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
      <div class="imagefood">
        <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436326/food3.png" alt="food1">
      </div>
      <div class="textCard d-flex flex-column justify-content-between">
        <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قورمه سبزی</div>
        <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
          <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
            <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
            <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
          </div>
          <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
        </div>

      </div>
    </div>
    <!-- food4 -->
    <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
      <div class="imagefood">
        <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436884/food4.png" alt="food4">
      </div>
      <div class="textCard d-flex flex-column justify-content-between">
        <div class="w-100 fw-bold fs-6 tittle-food">چلو اکبر جوجه مخصوص</div>
        <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
          <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
            <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
            <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
          </div>
          <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
        </div>

      </div>
    </div>
    <!-- food5 -->
    <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
      <div class="imagefood">
        <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476443076/food5.png" alt="food1">
      </div>
      <div class="textCard d-flex flex-column justify-content-between">
        <div class="w-100 fw-bold fs-6 tittle-food">ته چین مرغ</div>
        <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
          <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
            <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
            <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
          </div>
          <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
        </div>

      </div>
    </div>
  </div>
              </div>
                    <!-- section  -->
            <div class="foodcards  rounded-3 d-flex flex-column flex-shrink-0">
              <div class="chevron-select-left" >
                <svg id="btn-right1"  width="58" height="58" viewBox="0 0 58 58">
                  <use href="#chevron-left"></use>
                </svg>
              </div>
              <div class="chevron-select-right" >
                <svg id="btn-left1"  width="58" height="58" viewBox="0 0 58 58">
                  <use href="#chevron-left"></use>
                </svg>
              </div>
          
                      <div class="me-3 d-flex gap-2"> <p class="fw-bold fs-6 m-0">یکشنبه</p> 
                         <p class="d-flex justify-content-center align-items-center textMTU m-0" style="font-size:11px; font-family:sans-serif;" [id]="today2">1403/03/06</p>
                      </div>
                      <div class="foodcard d-flex gap-4 mt-2 justify-content-start align-items-start overflow-x-scroll overflow-y-hidden" id="con1">
                        <div class="foodtoday shadow-sm rounded-3 pb-3  bg-body-tertiary flex-shrink-0" >
                          <div class="imagefood">
                            <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436884/food4.png" alt="food1">
                          </div>
                          <div class="textCard d-flex flex-column justify-content-between">
                            <div class="w-100 fw-bold fs-6 tittle-food">چلو اکبر جوجه مخصوص</div>
                            <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                              <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                              </div>
                              <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                            </div>
                    
                          </div>
                        </div>
                        <!-- food5 -->
                        <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                          <div class="imagefood">
                            <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476443076/food5.png" alt="food1">
                          </div>
                          <div class="textCard d-flex  flex-column justify-content-between">
                            <div class="w-100 fw-bold fs-6 tittle-food">ته چین مرغ</div>
                            <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                              <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                              </div>
                              <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                            </div>
                    
                          </div>
                        </div>
                        <!-- food1 -->
                        <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                          <div class="imagefood">
                            <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476435976/Rectangle_1.png" alt="food1">
                          </div>
                          <div class="textCard d-flex  flex-column justify-content-between">
                            <div class="w-100 fw-bold fs-6 tittle-food">چلو کباب سلطانی </div>
                            <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                              <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                              </div>
                              <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                            </div>
                    
                          </div>
                        </div>
                        <!-- food2 -->
                        <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                          <div class="imagefood">
                            <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436434/food2.png" alt="food1">
                          </div>
                          <div class="textCard d-flex  flex-column justify-content-between">
                            <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قیمه بادمجان</div>
                            <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                              <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                              </div>
                              <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                            </div>
                    
                          </div>
                        </div>
                        <!-- food3 -->
                        <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                          <div class="imagefood">
                            <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436326/food3.png" alt="food1">
                          </div>
                          <div class="textCard d-flex  flex-column justify-content-between">
                            <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قورمه سبزی</div>
                            <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                              <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                              </div>
                              <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                            </div>
                    
                          </div>
                        </div>
                        <!-- food4 -->

                      </div>
            </div>
                      <!-- section  -->
           <div class="foodcards d-flex rounded-3 flex-column flex-shrink-0">
            <div class="chevron-select-left" >
              <svg id="btn-right2"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
            <div class="chevron-select-right" >
              <svg id="btn-left2"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
                                <div class="me-3 d-flex gap-2"> <p class="fw-bold fs-6 m-0">دوشنبه</p> 
                                   <p class="d-flex justify-content-center align-items-center textMTU m-0" style="font-size:11px; font-family:sans-serif;">1403/03/06</p>
                                </div>
                                <div class="foodcard  d-flex gap-4 mt-2 justify-content-start align-items-start overflow-x-scroll overflow-y-hidden" id="con2">
                                  <!-- food1 -->
                                  <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                                    <div class="imagefood">
                                      <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436434/food2.png" alt="food1">
                                    </div>
                                    <div class="textCard d-flex  flex-column justify-content-between">
                                      <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قیمه بادمجان</div>
                                      <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                                        <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                          <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                          <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                                        </div>
                                        <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                                      </div>
                              
                                    </div>
                                  </div>
                                  <!-- food2 -->
                                  <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                                    <div class="imagefood">
                                      <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476435976/Rectangle_1.png" alt="food1">
                                    </div>
                                    <div class="textCard d-flex  flex-column justify-content-between">
                                      <div class="w-100 fw-bold fs-6 tittle-food">چلو کباب سلطانی </div>
                                      <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                                        <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                          <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                          <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                                        </div>
                                        <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                                      </div>
                              
                                    </div>
                                  </div>
                                  <!-- food3 -->
                                  <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                                    <div class="imagefood">
                                      <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476443076/food5.png" alt="food1">
                                    </div>
                                    <div class="textCard d-flex  flex-column justify-content-between">
                                      <div class="w-100 fw-bold fs-6 tittle-food">ته چین مرغ</div>
                                      <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                                        <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                          <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                          <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                                        </div>
                                        <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                                      </div>
                              
                                    </div>
                                  </div>
                                  <!-- food4 -->
                                  <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                                    <div class="imagefood">
                                      <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436326/food3.png" alt="food1">
                                    </div>
                                    <div class="textCard d-flex  flex-column justify-content-between">
                                      <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قورمه سبزی</div>
                                      <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                                        <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                          <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                          <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                                        </div>
                                        <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                                      </div>
                              
                                    </div>
                                  </div>
                                  <!-- food5 -->
                                  <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                                    <div class="imagefood">
                                      <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436884/food4.png" alt="food1">
                                    </div>
                                    <div class="textCard d-flex  flex-column justify-content-between">
                                      <div class="w-100 fw-bold fs-6 tittle-food">چلو اکبر جوجه مخصوص</div>
                                      <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                                        <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                                          <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                                          <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                                        </div>
                                        <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                                      </div>
                              
                                    </div>
                                  </div>
                                  
                                </div>
          </div>
                     <!-- section  -->
          <div class="foodcards d-flex rounded-3 flex-column flex-shrink-0">
            <div class="chevron-select-left" >
              <svg id="btn-right3"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
            <div class="chevron-select-right" >
              <svg id="btn-left3"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
            <div class="me-3 d-flex gap-2"> <p class="fw-bold fs-6 m-0">سه شنبه</p> 
               <p class="d-flex justify-content-center align-items-center textMTU m-0" style="font-size:11px; font-family:sans-serif;">1403/03/06</p>
            </div>
            <div class="foodcard  d-flex gap-4 mt-2 justify-content-start align-items-start overflow-x-scroll overflow-y-hidden" id="con3">
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436326/food3.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قورمه سبزی</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
                </div>
              </div>
              <!-- food4 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436884/food4.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو اکبر جوجه مخصوص</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
                </div>
              </div>
              <!-- food5 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476443076/food5.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">ته چین مرغ</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
                </div>
              </div>
              <!-- food1 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476435976/Rectangle_1.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو کباب سلطانی </div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
                </div>
              </div>
              <!-- food2 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436434/food2.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قیمه بادمجان</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
                </div>
              </div>
              <!-- food3 -->

            </div>
          </div>
             <!-- section  -->
          <div class="foodcards  d-flex rounded-3 flex-column flex-shrink-0">
            <div class="chevron-select-left" >
              <svg id="btn-right4"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
            <div class="chevron-select-right" >
              <svg id="btn-left4"  width="58" height="58" viewBox="0 0 58 58">
                <use href="#chevron-left"></use>
              </svg>
            </div>
            <div class="me-3 d-flex gap-2"> <p class="fw-bold fs-6 m-0">چهارشنبه</p> 
               <p class="d-flex justify-content-center align-items-center textMTU m-0" style="font-size:11px; font-family:sans-serif;">1403/03/06</p>
            </div>
            <div class="foodcard d-flex gap-4 mt-2 justify-content-start align-items-start overflow-x-scroll overflow-y-hidden" id="con4">
              <!-- food1 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476435976/Rectangle_1.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو کباب سلطانی </div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
          
                </div>
              </div>
              <!-- food2 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436434/food2.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قیمه بادمجان</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
          
                </div>
              </div>
              <!-- food3 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436326/food3.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو خورشت قورمه سبزی</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
          
                </div>
              </div>
              <!-- food4 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476436884/food4.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">چلو اکبر جوجه مخصوص</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
          
                </div>
              </div>
              <!-- food5 -->
              <div class="foodtoday shadow-sm rounded-3 pb-3 bg-body-tertiary flex-shrink-0" >
                <div class="imagefood">
                  <img class="imgfoo" style="height: 100%; width: 100%;" src="https://s30.picofile.com/file/8476443076/food5.png" alt="food1">
                </div>
                <div class="textCard d-flex  flex-column justify-content-between">
                  <div class="w-100 fw-bold fs-6 tittle-food">ته چین مرغ</div>
                  <div class="dropdown mb-2 d-flex justify-content-between align-items-center">
                    <div class="btnPoint d-flex justify-content-center text-center align-items-center  rounded gap-1  bg-body-tertiary">
                      <p class="fs-6 d-flex align-items-center justify-content-center h-100 m-0 w-25 pe-1" >210</p>
                      <p class="d-flex align-items-center justify-content-center fs-7 textMTU h-100 m-0 w-50">امتیاز</p>
                    </div>
                    <div class="btnPoint d-flex align-items-center justify-content-center btn btn-light  dropdown fs-6 m-0" >رزرو</div>  
                  </div>
          
          
                </div>
              </div>
            </div>
          </div>                                                 
      </div>
    </div>
  
  </div>
</main>
