@import "bootstrap-custom";
@import url(../lib/uicons/css/bold/rounded.css);
@import url(../lib/uicons/css/regular/rounded.css);
@import url("https://fonts.cdnfonts.com/css/dana");

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  font-family: dana;
}
.input-search {
  outline: none;
  cursor: pointer;
  border: 0;

  &::placeholder {
    color: base;
  }
}
.textIcon {
  color: $font-color;
}
.listMenu {
  margin-top: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  text-overflow: ellipsis;
  color: black;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9px;
    transform: translate3d(0, 100%, 0);
    border-radius: 6px;
    background-color: #0085ff;
    transition: transform 0.2s ease;
  }

  &:hover {
    &::after {
      transform: translate3d(0, 0, 0);
    }
  }
}
.pay-up {
  font-size: 10px;
}
.pay-text {
  font-size: 15px;
  width: 35%;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: #f4f7f9;
}
header {
  background-color: #ffffff;
  box-shadow: 0 0 10px $box-shadow;
}
.formholder form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1:focus-visible {
  outline: none !important;
}
.btnDropDown {
  cursor: pointer;
  list-style: none;
  rotate: -90deg;
  &:active {
    color: #0085ff;
  }
}
////    page home
.buttomstyle {
  color: white;
  font-size: 12px;
  width: 80px;
  height: 30px;
  background-color: #3d8bfd;
}
.lineRightup {
  border-right: #0085ff solid 3px;
  width: 1%;
  height: 100%;
}
.lineRightdown {
  border-right: #ffd000 solid 3px;
  width: 1%;
  height: 100%;
}
.home {
  width: 70%;
}
/////calender
///
.calender {
  height: 450px;
  width: 90%;
  border-radius: 6px;
}
.month {
  width: 100%;
  height: 10%;
  border: none;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  cursor: pointer;
  float: left;
  padding-top: 2px;
}
.prev {
  cursor: pointer;
  transition: 0.1s ease;
  &:active {
    color: #0085ff;
  }
}

.month .next {
  cursor: pointer;
  float: right;
  padding-top: 2px;
}
.next {
  cursor: pointer;
  transition: 0.1s ease;
  &:active {
    color: #0085ff;
  }
}

.weekdays {
  width: 100%;
  margin: 0;
  padding: 2px 0;
}

.weekdays li {
  font-size: 12px;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.days {
  padding: 1px 0;
  margin: 0;
}

.days li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  width: 18%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: black;
  transition: 0.2s ease;
  &:active {
    color: #0085ff;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--bs-base);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bs-base);
}

.nowdate {
  list-style: none;
}
.sectionLeft {
  height: 100%;
  width: 85%;
}
.cards {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: scroll;
  scrollbar-color: $box-shadow #ffffff;
  scrollbar-width: thin;
  height: 100%;
}
.foodtoday {
  background-color: #ffffff;
  width: 300px;
  height: 90%;
  transition: all 0.2s ease;
}
.foodtoday:hover {
  background-color: #20c997;
}

.foodcards {
  width: 100%;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.foodcard {
  overflow-y: hidden;
  overflow-x: scroll;
  overflow: scroll;
  scrollbar-color: $box-shadow #ffffff;
  scrollbar-width: thin;
  width: 100%;
  height: 205px;
  padding-left: 10px;
  padding-right: 10px;
}
.imagefood {
  padding: 3px;
  border-radius: 10px 0 10px 0;
  width: 100%;
  height: 60%;
}
.imgfoo {
  border-radius: 10px 10px 0 0;
}
.textCard {
  width: 100%;
  height: 50%;
  padding: 15px;
}
.fontsize {
  font-size: 12px;
}
.btnPoint {
  background-color: #ffffff;
  cursor: pointer;
  width: 30%;
  border: 2px solid $border-color;
  font-size: 12px;
  transition: all 0.2s ease;
}
.btnPoint:hover {
  background-color: #0085ff;
  color: #ffffff;
  border: 2px solid #0085ff;
  margin: 0;
}
.textMTU {
  padding: 0;
  margin: 0;
}
