
<header
  dir="rtl"
  class="bg-body-tertiary p-0 m-0 d-flex justify-content-center overflow-hidden w-100 flex-shrink-0"
  ;
>
  <div class="container d-flex justify-content-between gap-2 w-100 m-0">
    <div
      class="nav-bar p-0 m-0 w-100 d-flex flex-row justify-content-between align-item-center"
      style="height: 80px"
    >
      <div
        class="nav-bar-menu justify-content-center align-items-center text-align-center d-flex m-0 p-0"
        style="width: 35%"
      >
        <div class="d-flex gap-2 flex-shrink-0 mt-2" style="width: 30%">
          <div class="d-flex justify-content-center">
            <svg width="52" height="24" viewBox="0 0 52 24">
              <use href="#iconmofid"></use>
            </svg>
          </div>
          <div class="d-flex justify-content-center align-items-center h-100">
            <span class="fw-bold fs-5 textIcon">مفید لانژ</span>
          </div>
        </div>
        <div
          class="w-75 h-100 d-flex gap-2 m-0 flex-row align-items-center justify-content-center"
        >

          <div
            class="position-relative d-flex flex-column justify-content-center align-items-cente h-100"
            style="width: 35%"
          >
            <a onclick="home2()"
              class="listMenu d-flex flex-shrink-0 justify-content-center align-items-center text-body-emphasis h-100"
            >
              رستوران اطلس
            </a>
          </div>
          <div

            class="d-flex flex-column justify-content-center align-items-center h-100"
            style="width: 35%"
          >
            <a onclick="home1()"
              class="listMenu d-flex flex-shrink-0 justify-content-center align-items-center text-body-emphasis h-100"
            >
              کافی شاپ
            </a>
          </div>
        </div>
      </div>
      <div class="nav-bar-search d-flex align-items-center gap-1 text-primary">
        <form action="#" class="m-0 p-0 h-100 gap-1 d-flex align-items-center">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use href="#iconsearch"></use>
          </svg>
          <input
            type="text"
            class="input-search rounded-4 bg-white border-0 fs-7 w-100 pe-2"
            placeholder="جستجوی نام غذا "
          />
        </form>
      </div>
      <!--- pay -->
      <div
        class="nav-bar-pay m-0 p-0 h-100 d-flex flex-row justify-content-center text-center align-items-center gap-2"
        style="width: 20%"
        onclick="walletModal()"
      >
        <div class="pay-icon m-0 p-0">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <use href="#icon-pay"></use>
          </svg>
        </div>
        <div
          class="pay-text d-flex flex-column h-100 justify-content-center align-items-start pt-1 gap-1"
        >
          <div class="pay-up m-0 p-0">اعتبار کیف پول</div>
          <div class="fw-bold fs-6 pay-down m-0 p-0">
            253984 <span class="fs-6 m-0 p-0 fw-light">امتیاز</span>
          </div>
          
          <div class="position-absolute modal-wallet fw-bold d-none flex-column" id="wallet-user">
            <div
              class="p-2 d-flex flex-column justify-content-center"
            >
              <div class="slidhover d-flex justify-content-between p-2">
                <div>هوشمند</div>

              </div>
              <div class="slidhover d-flex justify-content-between p-2">
                <div>امتیازی</div>
              </div>
              <div class="slidhover d-flex justify-content-between p-2">
                <div>نقدی</div>
              </div>


            </div>
        
       
          </div>   
        </div>
        <li class="btnDropDown  px-1 mx-2" id="btnDropDown-wallet">&#10095;</li>
      </div>
      <div
        class="nav-bar-user gap-2 h-100 d-flex justify-content-start align-items-center"
        style="width: 200px"
        onclick="moood()"
      >
        <div
          class="user-icon justify-content-center align-items-center"
          style="width: 10%"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <use href="#iconperson"></use>
          </svg>
        </div>
        <div
          class="user-name w-50 d-flex flex-column justify-content-center text-center align-items-center gap-1 pt-1 w-25 h-100"
          style="font-size: 15px"
        >
          <p class="m-0 p-0" style="font-size: 12px">خوش آمدید</p>
          <p class="p-0 m-0 fw-bold fs-6">نیما حسینی</p>
        </div>
        <div
          class="h-100 d-flex flex-column justify-content-center align-items-center"
          style="width: 14%"
        >
          <img
            src="https://s31.picofile.com/file/8476539834/person.png"
            alt="logoPerson"
          />
        </div>
        
        <li class="btnDropDown  px-1 mx-2" id="btnDropDown" >&#10095;</li>
        <div class="position-absolute modal-user overflow-scroll fw-bold d-none flex-column" id="modal-user">
          <div
            class="p-2 gap-1 d-flex flex-column justify-content-center"
          >
            <div class="slidhover d-flex justify-content-between px-2 pt-2">
              <div>کیف‌گذر</div>

              <div>17000امتیاز</div>
            </div>
            <div class="slidhover d-flex justify-content-between p-2">
              <div>اعتبار‌نقدی</div>
              <div>180.000 تومان</div>
            </div>
            <div class="slidhover d-flex justify-content-between p-2">
              <div>اعتبارامتیازی</div>
              <div>1200امتیاز</div>
            </div>
            <div class="slidhover d-flex justify-content-between p-2">
              <div>شماره‌پرسنلی</div>
              <div>234567897</div>
            </div>
            <div class="slidhover d-flex justify-content-between p-2">
              <div>کارشناس</div>
              <div>نوع‌کارمند</div>
            </div>
            <hr class="m-0"></hr>
          </div>
          <div class="d-flex flex-column px-2" dir="rtl">
            <div class="slidhover p-2">شریعتی-پرسنل</div>
            <div class="slidhover p-2">اطلس-پرسنل</div>
            <hr class="my-1">
          </div>
          <div class="slidhover mx-2 d-flex pe-2 pt-2" dir="rtl" style="width: 200px;">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <use href="#logOut"></use>
              </svg>
              <div>خروج</div>
          </div>
        </div>   
      </div>
     
      
    </div>
  </div>

</header>

<script>
  function moood() {
    document.getElementById("modal-user").classList.toggle("d-none");
    document.getElementById("btnDropDown").classList.toggle("rotate-180")

  }
  function walletModal() {
    document.getElementById("wallet-user").classList.toggle("d-none");
    document.getElementById("btnDropDown-wallet").classList.toggle("rotate-180")

  }


 function home1(){
  const main1= document.getElementById("main1").classList.remove("d-flex")
  const main2= document.getElementById("main1").classList.add("d-none")
  
  document.getElementById("main2").classList.remove("d-none")
  document.getElementById("main2").classList.add("d-flex")

 }

 function home2(){
  document.getElementById("main2").classList.remove("d-flex")
  document.getElementById("main2").classList.add("d-none")

  document.getElementById("main1").classList.remove("d-none")
  document.getElementById("main1").classList.add("d-flex")
 }

  </script>
